.dashOuter {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
    background-image: linear-gradient(to bottom right, darkmagenta, indigo);
}

.dashboard {
    overflow: hidden;
    max-height: 100vh;
}

@media (max-width: 1000px) {
    .dashOuter {
        display: grid;
        grid-template-rows: 10% 90%;
        grid-template-columns: 100%;
        background-image: linear-gradient(to bottom right, darkmagenta, indigo);
    }
}