.imagemSide {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    margin-top: 4%;
}

.imagemServidor {
    border-radius: 50vh;
    max-width: 11vh;
    max-height: 11vh;
    width: auto;
    height: auto;
    border: 1px solid black;
    background: #282c34;
}

.circle {
    width: 11vh;
    height: 11vh;
    line-height: 95px;
    border-radius: 50vh;
    font-size: 30px;
    color: #fff;
    text-align: center;
    background: #23272A;
}

.imagemServidor:hover{
    cursor: pointer;
}

.circle:hover{
    cursor: pointer;
}

@media (max-width: 1000px) {
    .imagemSide {
        display: flex;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .imagemServidor {
        border-radius: 50vh;
        max-width: 11vh;
        max-height: 11vh;
        width: auto;
        height: auto;
        border: black 1px;
        border-style: solid;
        background: #282c34;
        flex-direction: row;
        margin-left: 2vw;
    }

    .circle {
        width: 11vh;
        height: 11vh;
        line-height: 95px;
        border-radius: 50vh;
        font-size: 30px;
        color: #fff;
        text-align: center;
        background: #23272A;
        margin-left: 2vw;
    }
}