.counterNotActiveMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: gainsboro;
    height: auto;
    width: 500px;
    text-align: center;
    border-radius: 10px;
    column-gap: 2%;
    margin-top: 5vh;
    max-width: 90vw;
}

.counterNotActiveMain button{
    margin-bottom: 10px;
}